@import 'tailwindcss';

html {
  @apply font-sans antialiased;
}

@theme {
  --font-work-sans: var(--font-work-sans);
  --font-sans: var(--font-nunito);

  --color-title-default: #393939;
  --color-title-secondary: #2e2e2e;
  --color-text-default: #adadb5;

  --color-slate-200: #e9ebf0;
  --color-slate-300: #f2f4f7;

  --color-gray-300: #f9fafb;
  --color-gray-400: #fafafa;
  --color-gray-500: #a0a6ad;
  --color-gray-600: #79818a;
  --color-gray-700: #3f4d54;

  --color-line: #dbdbdb;

  --color-border-default: #dadee3;

  --color-brand-default: #de6c53;
  --color-brand-default-hover: #de6c53;
  --color-brand-hover: #c3542b;
  --color-button-hover: #ee5c3c;

  --color-danger-light: #fcf0f1;

  --drop-shadow-mobile: 4px 7px 20.6px rgba(0, 0, 0, 0.11);
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply h-2.5 w-2.5;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-brand-default;
    border-radius: 100vh;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-button-hover;
  }
}

[aria-label='Notifications alt+T'] ol {
  @apply mt-[70px];
}
